.bulb {
    position: relative;
    right: -220px;
    top: 100px;
    width: 80px;
    height: 80px;
    background: var(--app-bg-color);
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s;
    cursor: pointer;
}

.on-homepage-top-box-right .bulb {
    background: var(--app-bulb-color);
    box-shadow: 0 0 50px var(--app-bulb-color),
        0 0 100px var(--app-bulb-color),
        0 0 150px var(--app-bulb-color),
        0 0 280px var(--app-bulb-color),
        0 0 250px var(--app-bulb-color),
        0 0 300px var(--app-bulb-color),
        0 0 350px var(--app-bulb-color);
}

.bulb::before {
    transition: all 0.3s;
    content: '';
    position: absolute;
    top: -50px;
    left: 22.5px;
    width: 35px;
    height: 80px;
    background: var(--app-bg-color);
    border-top: 30px solid #000;
    border-radius: 10px;
}

.on-homepage-top-box-right .bulb::before {
    background: var(--app-bulb-color);
}

.on-homepage-top-box-right .bulb::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: var(--app-bulb-color);
    border-radius: 50%;
    filter: blur(40px);
}

.bulb span:nth-child(1) {
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}

.on-homepage-top-box-right .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px var(--app-bulb-color);
}

.bulb span:nth-child(2) {
    position: absolute;
    top: -16px;
    right: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px var(--app-bulb-color);
}

.on-homepage-top-box-right .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px var(--app-bulb-color);
}

.wire {
    position: absolute;
    left: calc(50% - 2px);
    top: -249px;
    width: 4px;
    height: 200px;
    background: #000;
    z-index: 1;
}