.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

a {
    text-decoration: none;
    color: black;
}

.link-with-hover {
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
    position: relative;
    font-size: 32px;
    margin: 12px;
    mix-blend-mode: exclusion;
}

.link-with-hover::before {
    transform: scaleY(0.1);
    bottom: -0.065em;
    content: "";
    transform-origin: center bottom;
    display: block;
    position: absolute;
    inset: 0px;
    pointer-events: none;
    transition: transform 120ms;
}

/* .link-with-hover:hover {
    color: var(--app-color-theme);
} */

.link-with-hover:hover::before {
    transform: scaleY(1);
}


.link-with-hover1 {
    color: var(--app-link-color1);
}

.link-with-hover1::before {
    background-color: var(--app-link-color1);
}

.link-with-hover2 {
    color: var(--app-link-color2);
}

.link-with-hover2::before {
    background-color: var(--app-link-color2);
}

.link-with-hover3 {
    color: var(--app-link-color3);
}

.link-with-hover3::before {
    background-color: var(--app-link-color3);
}