body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html[data-theme='light'] {
  --app-color: #24f88e;
  --app-secondary-color: #00ff40;
  --app-third-color: #00d4ff;
  --app-color-theme: white;
  --app-bg-color: #9ddde8;
  --app-bg-color2: #c8d8e8;
  --app-bg-color3: #d4c8e8;
  --app-bulb-color: #00ff40;
  --vio-color: #7460E1;

  --app-link-color1: #2800FF;
  --app-link-color2: #fcf3b0;
  --app-link-color3: #ffdadf;
}

html {
  background: linear-gradient(var(--app-bg-color2), var(--app-bg-color3));
}